doctype html
html
  head
    != liveReload
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
    meta(name="web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="theme-color", content= pkg.themeColor)
    meta(name="apple-mobile-web-app-status-bar-style", content= pkg.themeColor)
    meta(name="keywords", content= pkg.keywords.join(", "))
    meta(property="og:type", content="website")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content= pkg.twitter)
    meta(property="og:url", content= pkg.homepage)
    meta(property="og:site_name", content= pkg.title)
    meta(property="og:title", content= pkg.title)
    meta(name="twitter:title", content= pkg.title)
    meta(name="description", content= pkg.description)
    meta(property="og:description", content= pkg.description)
    meta(name="twitter:description", content= pkg.description)
    title #{pkg.title + ": " + pkg.description}
    link(type="text/css", rel="stylesheet", href= fileRoot + "style" + cssExt)
    style #frontBuffer { background-image:url(screenshot.jpg); }
    if debug
      script window.DEBUG = true;
    script(src="//static.opentok.com/v2/js/opentok.min.js")
  body
    h1 Meeting Room
    canvas#frontBuffer
    progress
    #controls
      #fullScreenButtonContainer
      #tokbox
      #loginForm(style="display:none")
        button#closeButton.secondary(type="button") &times;
        h2 Create your personal VR meeting room
        #roomNameRow.inputRow
          label(for="roomName") Room
          input#roomName(type="text")
          button#randomRoomName.primary(type="button") &#x21bb;
        br
        #userNameRow.inputRow
          label(for="userName") User
          input#userName(type="text")
          button#randomUserName.primary(type="button") &#x21bb;
          button#connect.primary(type="button") &rarr;
        #errorMessage(style="display:none")
    script(src= fileRoot + "node_modules/primrose/preloader" + jsExt, data-files=fileRoot + "lib/namegen.js," + fileRoot + pkg.name + jsExt)
