doctype html
html
  head
    != liveReload
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
    meta(name="web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="theme-color", content= pkg.themeColor)
    meta(name="apple-mobile-web-app-status-bar-style", content= pkg.themeColor)
    meta(name="keywords", content= pkg.keywords.join(", "))
    meta(property="og:type", content="website")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content= pkg.twitter)
    meta(property="og:url", content= pkg.homepage)
    meta(property="og:site_name", content= pkg.title)
    meta(property="og:title", content= pkg.title)
    meta(name="twitter:title", content= pkg.title)
    meta(name="description", content= pkg.description)
    meta(property="og:description", content= pkg.description)
    meta(name="twitter:description", content= pkg.description)
    title #{pkg.title + ": " + pkg.description}
    link(type="text/css", rel="stylesheet", href= fileRoot + "style" + cssExt)
    style #frontBuffer { background-image:url(screenshot.jpg); }
    if debug
      script window.DEBUG = true;
  body
    canvas#frontBuffer
    progress
    #controls
      #fullScreenButtonContainer
      #tokbox
      #loginForm(style="display:none")
        button#closeButton.secondary(type="button") &times;
        h2 Create your personal VR meeting room
        #roomNameRow.inputRow
          label(for="roomName") Room
          input#roomName(type="text")
          button#randomRoomName.primary(type="button") &#x21bb;
        br
        #userNameRow.inputRow
          label(for="userName") User
          input#userName(type="text")
          button#randomUserName.primary(type="button") &#x21bb;
          button#connect.primary(type="button") &rarr;
        #loginError.errorMessage(style="display:none")
    #iOSMessage.errorMessage(style="display:none")
      p We regret to inform you that Apple iPhones and iPads do not support the necessary features to allow PlumeVR to work in your browser. The current status from Apple is that these features are #[a(href="https://webkit.org/status/#specification-webrtc", target="_blank") in development], but there has been no estimate provided on when it will be ready.
      p We're very sorry. This is out of our hands. Blame Apple for not following web standards.
    if debug
      script(src= fileRoot + "node_modules/primrose/preloader" + jsExt, data-files="//static.opentok.com/v2/js/opentok.min.js," + fileRoot + fileRoot + pkg.name + jsExt)
    else
      script(src= fileRoot + "node_modules/primrose/preloader" + jsExt, data-files=fileRoot + "node_modules/socket.io-client/dist/socket.io.js,//static.opentok.com/v2/js/opentok.min.js," + fileRoot + pkg.name + jsExt)
