doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
    meta(name="web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="theme-color", content= themeColor)
    meta(name="apple-mobile-web-app-status-bar-style", content= themeColor)
    meta(name="keywords", content= keywords.join(", "))
    meta(property="og:type", content="website")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content= twitter)
    meta(property="og:url", content= homepage)
    meta(property="og:site_name", content= title)
    meta(property="og:title", content= title)
    meta(name="twitter:title", content= title)
    meta(name="description", content= description)
    meta(property="og:description", content= description)
    meta(name="twitter:description", content= description)
    title #{title + ": " + description}
    link(type="text/css", rel="stylesheet", href= fileRoot + "style" + cssExt)
    style #frontBuffer { background-image:url(screenshot.jpg); }
    if debug
      script window.DEBUG = true;
      script(src=fileRoot + "../bare-bones-logger/bare-bones-logger" + jsExt)
      //- script logger.setup(logger.HTTP, "/logger");
    script(src="//static.opentok.com/v2/js/opentok.min.js")
  body
    h1 Meeting Room
    canvas#frontBuffer
    progress
    #controls
      #fullScreenButtonContainer
      #tokbox
      #loginForm(style="display:none")
        button#closeButton.secondary(type="button") &times;
        h2 Create your personal VR meeting room
        #roomNameRow.inputRow
          label(for="roomName") Room
          input#roomName(type="text")
          button#randomRoomName.primary(type="button") &#x21bb;
        br
        #userNameRow.inputRow
          label(for="userName") User
          input#userName(type="text")
          button#randomUserName.primary(type="button") &#x21bb;
          button#connect.primary(type="button") &rarr;
        #errorMessage(style="display:none")
    script(src= fileRoot + "prog" + jsExt, data-app=fileRoot + packageName + jsExt)